nav ul{ 
    list-style:none;
   padding: 0;
}
nav ul li{
    display:inline;
    margin: 0 1rem;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}
header{
    background-color: #3ba7b5;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}