

.figura{
    width: 150px;
    height: 236px;
    border-radius: 10%;
    margin-right: 10px;
    margin-bottom: 2%;
}


nav ul{ 
    list-style:none;
   padding: 0;
}
nav ul li{
    display:inline;
    margin: 0 1rem;
}
nav ul li a{
    color: #000;
    text-decoration: none;
    font-size: 1.2rem;
}
header{
    background-color: #3b97b5;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
section {
    padding: 2rem;
    margin: 1rem auto;
    max-width: 100%;
}
section h2{ 
    border-bottom: 2px solid #3b97b5;
    padding-bottom: 1rem;
}
form label {
    display: block;
    margin-top: 1rem;
}
form input, form textarea {
    width: 50%;
    padding: 0.5rem;
    margin-top: 3rem;
}
form button {
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    background-color: #0d89b6;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}
